.profilePageHeader {
  height: 70px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  background-color: rgb(74, 37, 106);
}

.profilePageheaderBottomLine {
  margin-top: 0 px;
  padding-top: 0px;
  height: 1px;
  background-color: rgb(129, 129, 129);
}

.logoProperties {
  width: 70px;
  height: 70px;
}
