textarea:focus,
input:focus {
  outline: none;
}

.formFieldStyle {
  margin-left: 30px;
  height: 40px;
  width: 330px;
  font-size: 18px;
  border: none;
}

.formFrame {
  background: rgb(255, 255, 255);
  border-radius: 50px;
  width: 400px;
  height: 300px;
}

.formEmailLocation {
  margin-top: 29px;
}

.formPasswordLocation {
  margin-top: 25px;
}

.formConfirmPasswordLocation {
  margin-top: 25px;
}

.submitLocation {
  margin-top: 20px;
  margin-left: 150px;
}

.submitSignInLocation {
  margin-top: 60px;
  margin-left: 150px;
}

.formLine {
  margin-left: 20px;
  height: 1px;
  background-color: rgba(61, 61, 61, 0.3);
  width: 350px;
}
