.textSmall {
  color: white;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
}

.whiteButton {
  background-color: white;
  color: rgb(50, 36, 62);
  width: 80px;
  height: 40px;
  border-radius: 14px;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 1px;
}

.whiteButton:hover {
  background-color: rgb(229, 229, 229);
  opacity: 80%;
}

.whiteButton:active {
  opacity: 50%;
}
