.startInfoTextBig {
  color: white;
  font-family: "Martel", serif;
  font-size: 55px;
  line-height: 65px;
  margin-bottom: 25px;
}

.startInfoTextSmallLocation {
  margin-top: 15px;
  margin-bottom: 15px;
}
