{% extends './base.html' %}

{% block title %}Авторизация{% endblock %} 

{% block content %}

<p> Авторизация </p>

<form method="POST" style="margin-top: 20px; margin-left: 40px; margin-bottom: 40px">
  {% csrf_token %}
  <label for="name">Username:</label><br />
  <input type="text" id="name" name="name" /><br />
  <label for="password">Password:</label><br />
  <input type="text" id="password" name="password" /><br /><br />
  <input type="submit" value="Submit" />
  
  <button type="submit" name="registrate_button">Зарегистрироваться</button>
</form>


{% if error %}
  <p> {{error}} </p>
{% endif %}

{% endblock %}
