{% extends './base.html' %} 

{% block title %}Регистрация{% endblock %}

{% block content %}

<p>Регистрация</p>

<form method="POST" style="margin-top: 20px; margin-left: 40px">
  {% csrf_token %}
  <label for="name">Username:</label><br />
  <input type="text" id="name" name="name" /><br />
  <label for="password">Password:</label><br />
  <input type="text" id="password" name="password" /><br />
  <label for="confirm_password">Confirm Password:</label><br />
  <input type="text" id="confirm_password" name="confirm_password" /><br /><br />
  <input type="submit" value="Submit" />

  <button type="submit" name="log_in_button">Авторизироваться</button>
</form>


{% if error %}
  <p> {{error}} </p>
{% endif %}

{% endblock %}
